.container {
  padding: 20px;
}

.job-item {
  
  min-height: "50px";
  margin-bottom: "10px";
  border: "1px solid grey";
  padding: "5px";
  /* background-color: #f0f0f0; */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition */
}

/* The :hover pseudo-class is used to apply styles when hovered */
.job-item:hover {
  background-color: #404040; /* Highlight color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow for depth */
}